/**
 * Modal
 */
.modal-window {
  background-color: rgba(83,71,65,0.975);
  color: @white;
  border-radius: 0.0725em;
  box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.3);
  display: none;
  max-width: 100%;
  padding: 0.5em 1em;
  visibility: hidden;
  z-index: 9999;
  padding: 5em 1.5em;

  @media (min-width: @screen-xs) {
    padding: 5em 3em;
  }

  @media (min-width: @screen-lg) {
    max-width: 1000px;
  }

  &__inner {

    @media (min-width: @screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__photo {
    height: 400px;

    @media (min-width: @screen-sm) {
      flex: 0 0 40%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {

    @media (min-width: @screen-sm) {
      flex: 0 0 60%;
      align-self: flex-end;
      padding-left: 1em;
      padding-bottom: 1em;
    }
  }
}

.modal-window.active {
  display: block;
  height: 100%;
  left: 0;
  max-height: 100%;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  visibility: visible;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 30em) {

  .modal-window.active {
    height: auto;
    left: 3%;
    margin-left: auto;
    margin-right: auto;
    right: 3%;
    top: 50px;
  }
}

@media (min-width: 40em) {

  .modal-window.active {
    left: 8%;
    right: 8%;
  }
}

.modal-window:focus {
  outline: none;
}

/**
 * Modal Background
 */
.modal-bg {
  // background-color: #272727;
  bottom: 0;
  position: fixed;
  left: 0;
  opacity: .9;
  right: 0;
  top: 0;
  z-index: 9998;
}

/**
 * Close button
 */
.modal-window__close {
  cursor: pointer;
  position: absolute;
  top: 1em;
  right: 1em;
  width: 30px;
  height: 30px;

  @media (min-width: @screen-lg) {
    top: 2em;
    right: 2em;
  }

  &:hover {

    span {
      opacity: 0.75;
    }
  }

  span {
    position: absolute;
    content: '';
    height: 3px;
    border-radius: 2px;
    width: 25px;
    top: 50%;
    left: 2px;
    background-color: @white;
    transform: rotate3d(0,0,1,45deg);
    transform-origin: center;

    &::after {
      position: absolute;
      content: '';
      height: 3px;
      border-radius: 2px;
      width: 25px;
      background-color: @white;
      transform: rotate3d(0,0,1,90deg);
    }
  }
}