<div id="modal" class="modal-window" data-modal-window>
  <a href="#" class="modal-window__close" data-modal-close>
    <span></span>
  </a>
  <div class="modal-window__inner">
    <div class="modal-window__photo">
      <img src="img/photo-example.jpg" alt="">
    </div>
    <div class="modal-window__content">
      <p class="master__name">Анна Иванова</p>
      <ul class="master__desc">
        <li>Специализация: массаж, ведущий специалист</li>
        <li>Опыт работы: более 10 лет</li>
      </ul>
    </div>
    <div class="master__main-text">
      <p>Более десяти лет назад начался мой путь непрерывного изучения и практики массажных и оздоровительных техник. Мной были пройдены и успешно окончены ряд фундаментальных курсов по классическим техникам у русских, тайских, балийских и индийских мастеров.</p>
      <p>За это время был получен бесценный опыт практики в разных странах, с разными клиентами. Благодаря этому, приходя ко мне, вы получите результат, строго индивидуальный подход и рекомендации.</p>
    </div>
  </div>
</div>