.master {

  &__name {
    font-weight: bold;
    font-size: 1.25em;
  }

  &__desc {
    list-style-type: none;
    font-size: 0.75em;

    li {
      line-height: 1.4em;
    }
  }

  &__main-text {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}