.masters {
  background-color: @white;
  color: #534741;
  padding: 1em;
  padding-top: 5em;
  padding-bottom: 5em;

  @media (min-width: @screen-md) {
    padding-top: 8em;
    padding-bottom: 8em;
  }

  &__section-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;

    @media (min-width: @screen-sm) {
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      margin-bottom: 3em;
    }

    h2 {
      margin: 0;
      font-size: 1.5em;
      margin-bottom: 1em;
      text-transform: uppercase;
      letter-spacing: 0.025em;

      @media (min-width: @screen-sm) {
        display: flex;
        flex: 0 0 40%;
        margin-bottom: 0;
      }
    }

    p {
      margin: 0;
      max-width: 25em;
      line-height: 1.3em;

      @media (min-width: @screen-sm) {
        display: flex;
        flex: 0 0 60%;
        font-size: 0.75em;
        max-width: none;
      }
    }
  }

  &__wrap {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: @screen-sm) {
      max-width: 80%;
    }

    @media (min-width: @screen-lg) {
      max-width: 1000px;
    }
  }

  &__item {

    a {
      outline: none;
    }
  }

  &__cover {
    background-color: @gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    cursor: pointer;

    &:hover {

      .masters__cover-layer {
        opacity: 1;
      }
    }
  }

  &__cover-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(83,71,65,0.8);
    z-index: 2;
    text-align: center;
    opacity: 0;
    transition: all 0.2s ease-in-out 0.05s;

    span {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, 0);
      color: @white;
      white-space: nowrap;
    }
  }

  .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-29px);
    margin: 0;
  }

  .owl-nav [class*='owl-'] {
    background: transparent;
    margin: 0;
    padding: 0;
  }

  .owl-theme .owl-nav [class*='owl-']:hover {
    background: none;
  }

  .owl-prev, .owl-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    margin: 0;

    svg {
      padding: 5px;
      polyline {
        stroke-width: 10;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }

    &:hover,
    &:focus {

      svg polyline {
        stroke-width: 14;
      }
    }

    &:active {

      svg polyline {
        stroke-width: 18;
        transition-property: all;
        transition-duration: .15s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }

  .owl-prev {
    left: -60px;

    @media (min-width: @screen-lg) {
      left: -64px;
    }

    @media (min-width: (@screen-lg + 100)) {
      left: -80px;
    }
  }

  .owl-next {
    right: -60px;

    @media (min-width: @screen-lg) {
      right: -64px
    }

    @media (min-width: (@screen-lg + 100)) {
      right: -80px;
    }

    svg {
      transform: rotate3D(0, 1, 0, 180deg);
    }
  }

  .owl-theme .owl-dots .owl-dot {

    span {
      background-color: #e0862f;
      opacity: 0.5;
    }
  }

  .owl-theme .owl-dots .owl-dot.active,
  .owl-theme .owl-dots .owl-dot:hover {

    span {
      background-color: #e0862f;
      opacity: 1;
    }
  }
}