<section class="masters">
  <div class="masters__wrap">
    <div class="masters__section-info">
      <h2>Наши мастера</h2>
      <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Своего пояс путь рот ipsum, продолжил. О рукопись, вопроса океана..</p>
    </div>
    <div id="masters-slider" class="masters__slider  owl-carousel  owl-theme">
      <div class="masters__item">
        <a href="#" data-modal="#modal">
          <div class="masters__cover" style="background-image: url(img/photo-example.jpg);">
            <div class="masters__cover-layer">
              <span>Анна Иванова</span>
            </div>
          </div>
        </a>
      </div>
      <div class="masters__item">
        <a href="#" data-modal="#modal">
          <div class="masters__cover" style="background-image: url(img/photo-example-2.jpg);">
            <div class="masters__cover-layer">
              <span>Анна Иванова</span>
            </div>
          </div>
        </a>
      </div>
      <div class="masters__item">
        <a href="#" data-modal="#modal">
          <div class="masters__cover" style="background-image: url(img/photo-example-3.jpg);">
            <div class="masters__cover-layer">
              <span>Анна Иванова</span>
            </div>
          </div>
        </a>
      </div>
      <div class="masters__item">
        <a href="#" data-modal="#modal">
          <div class="masters__cover" style="background-image: url(img/photo-example-4.jpg);">
            <div class="masters__cover-layer">
              <span>Анна Иванова</span>
            </div>
          </div>
        </a>
      </div>
      <div class="masters__item">
        <div class="masters__cover" style="background-image: url(http://placehold.it/700x1000);">
          <div class="masters__cover-layer">
            <span>Анна Иванова</span>
          </div>
        </div>
      </div>
      <div class="masters__item">
        <div class="masters__cover" style="background-image: url(http://placehold.it/700x1000);">
          <div class="masters__cover-layer">
            <span>Анна Иванова</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>